*text=auto
*.sublime-syntax linguist-language=YAML
*.sublime-completions linguist-language=JSON
*.sublime-snippet linguist-language=XML
*.tmLanguage linguist-language=XML
*.tmPreferences linguist-language=XML

CoDT7[[:space:]]Formats/** linguist-detectable